#bluefish editor files
**/*.js~
**/*.css~
**/*.html~

#image files and similar
**/*.png
**/*.PNG
**/*.jpg
**/*.JPG
**/*.pdf
**/*.PDF

#matlab
**/*.asv
**/*.mexa64

# directories
node_modules
library
triangleKaleidoscope
doc
rosette
vladimir
vladimir1
vladimir2
oldLib

