color:red;
background-color:blue;

case insensitive

7 shades of grey

DimGrey  	#696969
Grey  	        #808080
DarkGrey  	#A9A9A9
LightGray  	#D3D3D3
Gainsboro  	#DCDCDC   (ist das grau des browsers)
WhiteSmoke  	#F5F5F5
White  	        #FFFFFF

2 yellows for buttons

Yellow  	#FFFF00
LightYellow  	#FFFFE0

PaleGoldenRod  	#EEE8AA

LemonChiffon  	#FFFACD

oder einfacher #rrggbb
(hex zahl)

-----------------------------------------------------------

font-family: "Open Sans", Arial, sans-serif;

font-size:64px;            (kein zwischenraum vor px)

font-weight: bold;   (normal)
font-style: italic; (normal)

text-decoration: none;     (underline,overline,line-through)
text-align: right; (left (?) center right justify)

--------------------------------------------
html

<strong>.....</strong>      -> bold
<em>     </em>              -> italic
<mark> ...                  -> highlight
<sup> ...                   -> superscript
<sub> ...                   -> subscript

--------------------------------------------------------------

Non-breaking space  	&nbsp;
< 	 	&lt;
> 	 	&gt;
& 	 	&amp;
" 	 "	&quot;
----------------------------------------------------------

window.innerWidth
window.innerHeight

window.location

window.onresize
window.onload

----------------------------------------------------------
<!--  html comment  -->

/*    css comment   */

-------------------------------------------------------
selectors:

tag                               document.getElementsByTagName(String);
#idname                           document.getElementById(String);
.className                        document.getElementsByClassName(String);
tag.className

------------------------------------------------
Link html
<a href="filepath or www.....(url)"> xxxx </a>
or download attribute

styling
a:link                  nicht besucht
a:visited               besucht
a:hover               maus darüber
a:focus                 target of current interaction
a:active               maus darüber und gedrückt

------------------------------------------------------------

image html
<img src="filepath (url)" height="nn" width="nnn">

width and height in px units, auch über css

vertical alignment

vertical-align: top,middle,bottom, sub,super, text-top,baseline,text-bottom

-----------------------------------------------------

html elements are boxes
size: automatic - large enough to hold contents (using full width of containing box, increasing height)

exact dimensions
width: 100px;
height: 333px;

limiting dimensions:

min-width, max-width,min-height, max-heigth

boxes that are too small (mostly in vertical direction, scroll in horizontal direction for wide content (image,canvas)):
overflow: scroll; (hidden)

