color:red;
background-color:blue;

case insensitive

7 shades of grey

DimGrey  	#696969
Grey  	        #808080
DarkGrey  	#A9A9A9
LightGray  	#D3D3D3
Gainsboro  	#DCDCDC   (ist das grau des browsers)
WhiteSmoke  	#F5F5F5
White  	        #FFFFFF

2 yellows for buttons

Yellow  	#FFFF00
LightYellow  	#FFFFE0

PaleGoldenRod  	#EEE8AA

LemonChiffon  	#FFFACD

oder einfacher #rrggbb
(hex zahl)

-----------------------------------------------------------

font-family: "Open Sans", Arial, sans-serif;

font-size:64px;            (kein zwischenraum vor px)

font-weight: bold;   (normal)
font-style: italic; (normal)

text-decoration: none;     (underline,overline,line-through)
text-align: right; (left (?) center right justify)

--------------------------------------------
html

<strong>.....</strong>      -> bold
<em>     </em>              -> italic
<mark> ...                  -> highlight
<sup> ...                   -> superscript
<sub> ...                   -> subscript

--------------------------------------------------------------

Non-breaking space  	&nbsp;
< 	 	&lt;
> 	 	&gt;
& 	 	&amp;
" 	 "	&quot;
----------------------------------------------------------

window.innerWidth
window.innerHeight

window.location

window.onresize
window.onload

----------------------------------------------------------
<!--  html comment  -->

/*    css comment   */

-------------------------------------------------------
selectors:

tag                               document.getElementsByTagName(String);
#idname                           document.getElementById(String);
.className                        document.getElementsByClassName(String);
tag.className

------------------------------------------------
Link html
<a href="filepath or www.....(url)"> xxxx </a>
or download attribute

styling
a:link                  nicht besucht
a:visited               besucht
a:hover               maus darüber
a:focus                 target of current interaction
a:active               maus darüber und gedrückt

------------------------------------------------------------

image html
<img src="filepath (url)" height="nn" width="nnn">

width and height in px units, auch über css

vertical alignment

vertical-align: top,middle,bottom, sub,super, text-top,baseline,text-bottom

-----------------------------------------------------

html elements are boxes
size: automatic - large enough to hold contents (using full width of containing box, increasing height)

exact dimensions
width: 100px;
height: 333px;

limiting dimensions:

min-width, max-width,min-height, max-heigth

boxes that are too small (mostly in vertical direction, scroll in horizontal direction for wide content (image,canvas)):

overflow: scroll; (hidden)
 visible - default, overflow wird gezeigt
 hidden - overflow wird abgeschnitten und nicht gezeigt
 auto - scrollbars only if needed

-----------------------------------------------

Box model:
at center is content, height is given by content, width as large as to fill enclosing container ??
specific width/height replaces content width/height ??
padding is added around this center, background includes padding

then the border,
margin determines minimum distance between borders, background of enclosing container is shown
--------------------------------------------------

Border:

seitenabhängig: border-top (right, bottom, left) anstelle von border ...

border-style: solid, inset,outset,none
border-width: this, medium, thick or 66px
border-color: ...
border-radius: ... (half circles if value is too large ...)

oder alles zusammen
border: color width style;

----------------------------------------------------
padding entprechend ...

padding:44px, padding: top value right value bottom value left value
oder padding-top (right,left, bottom)

margin entsprechend...

centering an element with margin: top auto bottom auto    (text-align: center;in containing box?)

-----------------------------------------------------------

visibility: hidden; (visible)  if hidden does not show content but takes its place
-----------------------------------------------------------------------
display: none;  disappears entirely
display: inline;  (as inline lement)
display: inline-block;  (in inline flow, with properties of block element
----------------------------------------------
cursor: default; (pointer)    (crosshair - move)
-------------------------------------------------
z-index:n; for overlapping elements, higher index overdraws lower index
-------------------------------

position: static; (default-normal flow)

position:relative;  (normal flow, but shifted position relative to normal..)
top:100px;                    // positive number shifts down,   bottom shifts up
left:20px;                   // ....

position: absolute;    (dort wo angegeben on the page, ohne einfluss auf den flow anderer elemente, scrollt mit
top:33px;                      //coordinaten bezüglich window (botttom)
left: 40px;

position: fixed;  (some as absolutre, but relative to the window, does not scroll)

------------------------------------------
floating: position elements with respect to others, other content flows around floated elements, border andrer elemente wird nicht gezeichnet

float:left;   (right)

if element contains only floateds then its heigth is zero -> use overflow:auto;
                        width: 100%;

clear: left right both none -> no floating elements at that side(s)



