		body { 
			background-color:rgb(235,235,190);
			color:rgb(80,40,0);
		}

		a{
			color:black;
			text-decoration:none;
			border-style:solid;
			background-color:white;
			border-width:1px;
		}
		
		.numbers{
			width: 35px;
		}
